html {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

/* Nav Styles */
.img {
  width: 100%;
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.nav__item {
  margin: 3px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

/* Hero Styles */
.hero {
  display: flex;
  flex-direction: column-reverse;
}

.hero > div {
  padding: 1rem;
}

.hero > p {
  padding: 1rem;
  text-align: center;
}
